<div class="cvaaScreenPanel">

	<div id="cvaaPreview">
		<span id="previewWindow">
			<span id="previewText">
				<%=cvaa.locale.captionsPreviewText%>
			</span>
		</span>
	</div>

	<div class="column-1-4">
		<div class="fontSizeContainer">
			<input type="text" id="vFontSizeVal" tabindex="-1">
			<div><%=cvaa.locale.fontSizelabel%></div>
			<div id="vFontSize"></div>
		</div>

		<div class="fontFamilyContainer">
			<div><%=cvaa.locale.fontFamilylabel%></div>
			<select id="vFontFamily">
				<% $.each(cvaaOptions.family, function(idx, property){ %>
				<option value="<%=property.prop%>"><%=property.text%></option>
				<% }); %>
			</select>
		</div>


		<div class="fontEdgeStyleContainer">
			<div><%=cvaa.locale.edgeStylelabel%></div>
			<select id="vEdgeStyle">
				<% $.each(cvaaOptions.edgeStyle, function(idx, property){ %>
				<option value="<%=property.prop%>"><%=property.text%></option>
				<% }); %>
			</select>
		</div>
	</div>

	<div class="column-1-2">
			<ul class="colorContainer">
				<div><%=cvaa.locale.fontColorlabel%></div>
				<% $.each(cvaaOptions.color, function(idx, property){ %>
				<li id="vFontColor" value="<%=property.prop%>" tabindex="0" role="button">
					<span class=<%=property.text%>></span>
				</li>
				<% }); %>
			</ul>

			<ul class="colorContainer">
				<div><%=cvaa.locale.backgroundColorlabel%></div>
				<% $.each(cvaaOptions.color, function(idx, property){ %>
				<li id="vBackgroundColor" value="<%=property.prop%>" tabindex="0" role="button">
					<span class=<%=property.text%>></span>
				</li>
				<% }); %>
			</ul>


			<ul class="colorContainer">
				<div><%=cvaa.locale.windowColorlabel%></div>
				<% $.each(cvaaOptions.color, function(idx, property){ %>
				<li id="vWindowColor" value="<%=property.prop%>" tabindex="0" role="button">
					<span class=<%=property.text%>></span>
				</li>
				<% }); %>
			</ul>
	</div>

	<div class="column-1-4">
		<div class="fontOpacityContainer">
			<input type="text" id="vFontOpacityVal" tabindex="-1">
			<div><%=cvaa.locale.fontOplabel%></div>
			<div id="vFontOpacity"></div>
		</div>
		<div class="backgroundOpacityContainer">
			<input type="text" id="vBackgroundOpacityVal" tabindex="-1">
			<div><%=cvaa.locale.backgroundOpLabel%></div>
			<div id="vBackgroundOpacity"></div>
		</div>
		<div class="windowOpacityContainer">
			<input type="text" id="vWindowOpacityVal" tabindex="-1">
			<div><%=cvaa.locale.windowOplabel%></div>
			<div id="vWindowOpacity"></div>
		</div>
	</div>

	<div id="cvaaButtons">
		<button type="button" class="resetCvaaSettings">Reset to default</button>
		<button type="button" class="saveCvaaSettings">Save settings</button>
	</div>

</div>