.v-player-vidiun_player_4 .v-title-container {
	font-size: 21px;
	line-height:25px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
	width: 410px;
	display: block;
	border-right: 1px solid;
	height: 51px;
	padding-right: 2px;
	padding-left: 3px;
}

.v-player-vidiun_player_4 .chapterNumber {
	color: #166599;
}

.v-player-vidiun_player_4 .v-title {
	color: #ECF4FA;
}

.v-player-vidiun_player_4.v-chapters-container.v-horizontal .chapterBox{
	height: 65px !important;
	background-color: #85C6F1;
	padding-left: 0px;
	border-bottom: 1px solid #659ACA;
}

.v-player-vidiun_player_4.v-chapters-container .v-description {
	display:none;
}

.v-player-vidiun_player_4.v-chapters-container .v-duration {
	right: 12px;
	bottom: 21px;
}

.v-player-vidiun_player_4.v-chapters-container .v-duration span {
	font-size: 20px;
}
