.v-prop {
	padding-left: 10px;
}

.v-prop input.v-currentTime {
	width:75px;
}

.v-timeline {
	cursor: pointer;
}
.v-timeline .v-baseline{
	position: absolute;
	top: 30px;
	width: 100%;
	height: 2px;
	background:black;
}
.v-timeline .v-timeline-background{
	position: absolute;
	top:0px;
	left:0px;
	right:0px;
	height:85px;
	background-color: #E7E7E7;
}
.v-timeline .v-timeline-docs{
	position: relative;
	top:85px;
}
.v-cuepoint{
	position:absolute;
	top:50px;
	margin-left: -11px;
	
	border: 12px solid transparent;
	border-width: 12px 12px;
	border-bottom-color: #666;

	margin-top: -16px;
	background: transparent;
}
.v-cuepoint.active {
	border-bottom-color: #222;
}


